/*Si los iconos no te funcionan es xq tienes q descargar los tuyos y poner tu propio link*/
/*El codigo sigue siendo el mismo y solo le agregue los prefijos para q sea compatible con cualquier navegador q utilizes*/
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  width: 100%;
  height: 100vh;
  background-image: url(../imagen/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
header
{
  position: relative;
  width: 100%;
  height: 80px;
  background-color: rgba(255,255,255,.7);
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
h1,h2
{
  font-family: sans-serif;
}
h1
{
  font-size: 40px;
}
.cont_redes
{
  position: relative;
  width: 90px;
  height: 90px;
  border: 4px solid #fff;
  top: 250px;
  left: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg,rgba(171,29,241,.8),rgba(254,36,227,.8));
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
span
{
  color: #fff;
  font-size: 40px;
  display: flex;
}
.circ_social
{
  width: 65px;
  height: 65px;
  text-decoration: none;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  left: 10px;
  -webkit-transition: left .5s,opacity .8s linear;
  -o-transition: left .5s,opacity .8s linear;
  transition: left .5s,opacity .8s linear;
}
.circ_social span
{
  font-size: 23px;
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 4px solid #fff;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  transition: all .5s;
}
.cont_redes:hover .circ_social
{
  opacity: 1;
}
.circulo1 span
{
  background-color: #37579b;
}
.cont_redes:hover .circulo1 
{
  left: 83px
}
.circulo2 span
{
  background-color: #00acff;
}
.cont_redes:hover .circulo2 
{
  left: 148px
}
.circulo3 span
{
  background-color: #fd00ff;
}
.cont_redes:hover .circulo3 
{
  left: 213px
}
.circulo4 span
{
  background-color: #fd0e0e;
}
.cont_redes:hover .circulo4
{
  left: 278px
}
.circulo5 span
{
  background-color: #35b43b;
}
.cont_redes:hover .circulo5 
{
  left: 343px
}
.circulo6 span
{
  background-color: #df0408;
}
.cont_redes:hover .circulo6 
{
  left: 408px
}
.circ_social:hover span
{
  -webkit-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  -o-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}