.news-holder p {
    margin-bottom: 12px;
}

.news-holder {
    max-width: 500px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    font-size: 13px;
}

.news-holder * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
  color: #f4db30;
  text-decoration: none;
}

.news-headlines {
  list-style: none;
  position: relative;
	width: 60% !important;
}

  .news-headlines li {
    padding: 5px 20px 5px 0px;
    margin-bottom: 40px;
    position: relative;
    z-index: 20;
    color: #000;
	list-style: none;
	  text-align: left;
  }

  .nh-anim {
    -webkit-transition: all .75s ease-out;
    -moz-transition: all .75s ease-out;
    -o-transition: all .75s ease-out;
    transition: all .75s ease-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .news-headlines li:before {
    content: "";
    
    width: 5px;
    height: 5px;
    background: #f00;
    vertical-align: middle;
    margin-left: 12px;
    margin-right: 7px;
	  list-style: none;
  }

  .news-headlines li:hover, a:hover {
      cursor: pointer;
      text-decoration: underline;
	  list-style: none;
  }
  
  .news-headlines .highlight {
     width: 130%;
     background: #FFB522;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;	
     position: absolute;
     top: 0;
     left: 0;
     z-index: 10;
  }

  .news-headlines .highlight:before {
    display: none;
  }

.news-headlines {
   	float: center;
   	width: 38%;
}

.news-preview {
   float: right;
	-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
   border: solid 3px rgba(249,220,26,0.9);
   width: 90%;
   background: rgba(249,220,26,0.7);
   position: inherit;
   z-index: 5;
   margin-left: -1px;
   min-height: 304px;
   position: relative;
}

  .news-preview img {
    display: block;
	  -webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
    border: solid 4px rgba(249,220,26,0.1);
    width: 100%;
    height: 100%;
    
    max-height: auto;
    margin: 0 auto 5px auto;
  } 

.news-content {
    position: absolute;
    background: rgba(211,42,50,0.0);
    z-index: 10;
    padding: 10px;
    top: 0;
    left: 0;
    display: none;
}
.top-content img{
	width: 100% !important;

	
}
.top-content {
    display: block;
}
*{
	text-decoration: none !important;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}